body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #1d1f21;
  color: whitesmoke;
}

.my-navbar {
  height: 6vh;

}

.profile-dropdown {
  min-width: 100%;
}

.profile-img {
  height: 4vh;
  border-radius: 50%;
}
/* ############### Scrollbar ############### */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #484848; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3c3d3f; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555556; 
}