body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #1d1f21;
  color: whitesmoke;
}

.home-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ############### Navbar ############### */
.my-navbar {
  height: 6vh;

}

/* searchbar */
.my-navbar input[type="checkbox"]{
  display: none;
}

.search-box {
  position: absolute;
  left: 50%;
  width: 3vh;
  height: 3vh;
  transform: translate(-50%);
  transition: 0.5s;
}

.search-box label {
  position: absolute;
  right: 0.5rem;
  width: 3vh;
  height: 3vh;
  line-height: 3vh;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  background-color: white;
  color: gray;
}

.search-box label:hover {
  color: black;
  
}

.search-box input {
  width: 100%;
  height: 100%;
  background-color: white;
  border: none;
  border-radius: 0.7rem;
  outline: none;
  padding-left: 1rem;
  color: black;
  transition: 0.5s;
  transition-property: opacity;
  opacity: 0;
}

.x-icon {
  position: absolute;
  color: gray;
  display: inline-block;
  right: 0.5rem;
  width: 3vh;
  height: 3vh;
  line-height: 3vh;
  text-align: center;
}

.x-icon:hover {
  color: black;
}

.spinner-icon {
  position: absolute;
  color: gray;
  display: inline-block;
  right: 0.5rem;
  width: 3vh;
  height: 3vh;
  line-height: 3vh;
  text-align: center;
}

.spinner-icon:hover {
  color: black;
}

.input-with-popover {
  border-radius: 0.7rem 0.7rem 0 0 !important;
}

#check:checked+.search-box {
  width: 25vw;
}

#check:checked+.search-box > input{
  opacity: 1;
}

.my-popover {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 2.7rem;
  width: 25vw;
  height: 0;
  border-radius: 0 0 0.7rem 0.7rem;
  background-color: white;
  color: black;
  transition: 0.5s;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 10;
}

.show-popover {
  height: initial;
  max-height: 40vh;
}

.popover-hr {
  width: 100%;
  margin: 0 auto;
}

.popover-items {
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
  z-index: 10;
}

.popover-items:hover {
  background-color: rgb(209, 209, 209);
}

/* accounts */
.profile-dropdown {
  min-width: 100%;
}

.profile-img {
  height: 3vh;
  border-radius: 50%;
}

/* ############### Scrollbar ############### */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #484848; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3c3d3f; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555556; 
}