body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #1d1f21;
  color: whitesmoke;
}

.my-navbar {
  height: 6vh;

}

.profile-dropdown {
  min-width: 100%;
}

.profile-img {
  height: 4vh;
  border-radius: 50%;
}