.main-container {
  height: 89vh;
}

.main-row {
  overflow: hidden;
}

/* ###################### explorer ###################### */
.explorer-nav {
  font-weight: 300;
  height: 100%;
  overflow-y: scroll;
}

.explorer-div {
  z-index: 1;
  font-size: 0.9rem;
}

/* Remove default bullets */
ul, li {
  list-style-type: none;
  cursor: pointer;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: #c5c8c6;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

.viewing {
  color: #198754
}


/* ###################### file contents ###################### */
.file-contents-section {
  font-weight: 300;
  height: 100%;
  overflow-y: scroll;
}

.file-name {
  padding-left: 1rem;
}
.file-contents-code {
  padding: 0;
}

/* for block of numbers */
.hljs-ln-numbers {
  text-align: right;
  color: rgb(72, 72, 72);
  vertical-align: top;
  padding-right: 5px!important;  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* for block of code */
.hljs-ln-code {
  padding-left: 10px!important;
}

/* ###################### Comments ###################### */
.comments-section {
  font-weight: 300;
  height: 100%;
  overflow-y: scroll;
}

.comments-ul {
  padding: 0;
}

.comment-div {
  background-color: rgb(72, 72, 72);
  border-radius: 0.5rem;
}