/* ###################### collapse ###################### */
.collapse-btn {
  color: white;
  height: 100%;
  width: 2vw;
  background-color: rgb(37 37 37);
  border-radius: 0;
  padding-left: 1px;
  padding-right: 1px;
}

.collapse-btn:hover {
  color: rgb(25 135 82);
} 

.collapse-icon {
  transition: 0.5s;
}

.spin180Deg {
  transform: rotateZ(180deg);
}

/* ###################### main ###################### */
.main-container {
  height: 94vh;
  max-height: 94vh;
}

.main-div {
  width: 97vw;
  height: 100%;
  margin: 0;
}

.main-row {
  position: relative;
  left: 1vw;
  overflow: hidden;
  
}

.repo-path {
  height: 6%;
  max-height: 6%;
}

/* ###################### side-tab ###################### */
.side-tab {
  height: 100%;
  max-height: 100%;
  padding: 0;
}

.padding-right {
  padding-right: 1.1rem;
}

.full-max-height {
  max-height: 100% !important;
}

/* ###################### explorer ###################### */
.explorer-nav {
  font-weight: 300;
  height: fit-content;
  max-height: 45%;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  border-bottom: 2px solid rgb(56 56 56);
}

.explorer-h4 {
  transition: 0.2s;
  cursor: pointer;
}

.explorer-h4:hover {
  color: #198754;
}

.explorer-div {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.collapse-folder-icon {
  transition: 0.2s;
  cursor: pointer;
}

.collapse-folder-icon:hover {
  color: #198754;
}

/* Remove default bullets */
.explorer-div ul, 
.explorer-div li {
  list-style-type: none;
  cursor: pointer;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis; 
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: #c5c8c6;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

.viewing {
  color: #198754
}


/* ###################### Repo Comments ###################### */
.comments-section {
  font-weight: 300;
  height: fit-content;
  max-height: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  border-bottom: 2px solid rgb(56 56 56);
}

.comments-h4 {
  transition: 0.2s;
  cursor: pointer;
}

.comments-h4:hover {
  color: #198754;
}

.comments-div {
  font-size: 0.9rem;
}

.comment-login-btn {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.comments-ul, 
.file-comments-ul {
  padding: 0;
  list-style-type: none;
}

.comment-div {
  background-color: rgb(72, 72, 72);
  border-radius: 0.5rem;
}


/* ###################### file comments ###################### */
.toggle-line-number{
  cursor: pointer;
}


/* ###################### file contents ###################### */
.file-contents-section {
  font-weight: 300;
  height: 100%;
  overflow-y: scroll;
  /* overflow-x: scroll; */
  white-space: nowrap;
}

.file-name {
  padding-left: 1rem;
}
.file-contents-code {
  padding: 0;
}

/* for block of numbers */
.hljs-ln-numbers {
  text-align: right;
  color: rgb(72, 72, 72);
  vertical-align: top;
  padding-right: 5px!important;  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* for block of code */
.hljs-ln-code {
  padding-left: 10px!important;
}

.lineNum {
  cursor: pointer;
}

.lineNum:hover {
  background-color: rgba(255, 255, 0, 0.2);
}

.bgc-yellow {
  background-color: rgba(255, 255, 0, 0.5);
}

.bgc-green {
  background-color: rgba(94, 255, 0, 0.3);
}