<nav class="navbar navbar-expand-lg navbar-dark bg-dark my-navbar mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Gitin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex justify-content-between align-items-center" style="width: 100%;">
        <!-- left-side-->
        <div class='d-flex'>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
          </li>
        </div>

        <!-- Search (center)-->
        <input type="checkbox" id="check">
        <div class="search-box">
          <input id="search-input" type="text" placeholder="Search...">
          <label for="check"><i class="fas fa-search search-icon"></i></label>
        </div>

        <!-- accounts (right) -->
        <div class='d-flex'>
          {% if user.is_authenticated %}
          <li class="nav-item dropdown me-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% if user.profile_img %}
              <img class="profile-img me-2" src="{{ user.profile_img.url }}" alt="{{ user.username }}'s profile image">
              {% endif %}
              {{ user.email }}
            </a>
            <ul class="dropdown-menu profile-dropdown" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">sth</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
          </li>
          {% endif %}
        </div>
      </ul>
    </div>
  </div>
</nav>

<!-- Searchbar logics -->
<script>
// Grab elements
const searchInput = document.querySelector("#search-input");

// initiate search via ajax (wait 0.5s until user finishes typing)
let timeout = null;
searchInput.addEventListener("keyup", e => {
  clearTimeout(timeout);
  timeout = setTimeout(() => {
    if (e.target.value) {
      searchRequest(e.target.value);
    }
  }, 500);
})

// ajax request for searching db and github
function searchRequest(search_word) {
  console.log("seach for: ", search_word);
  $.ajax({
    url: '{% url "search-github" %}',
    type: 'post',
    data: {'search_word': search_word},
    headers: {"X-CSRFToken": "{{ csrf_token }}"},
  }).done(res => {
    console.log(res);
  }).fail(failed => {
    console.log(failed);
  })
}

</script>