<nav class="navbar navbar-expand-lg navbar-light bg-light my-navbar mb-5 sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Gitin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex justify-content-between align-items-center" style="width: 100%;">
        <!-- left-side-->
        <div class='d-flex'>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
          </li>
        </div>
        <!-- center -->
        <form class="d-flex" action="{% url 'search-github' %}" method="get">
          <input class="form-control me-2" type="search" placeholder="User" aria-label="search-github" name="search_word">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <!-- gitrepo test -->
        <a href="/github/search-github/8/repo-detail/">repo</a>
        <!-- right-side -->
        <div class='d-flex'>
          {% if user.is_authenticated %}
          <li class="nav-item dropdown me-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% if user.profile_img %}
              <img class="profile-img" src="{{ user.profile_img.url }}" alt="{{ user.username }}'s profile image">
              {% endif %}
              {{ user.email }}
            </a>
            <ul class="dropdown-menu profile-dropdown" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">sth</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
          </li>
          {% endif %}
        </div>
      </ul>
    </div>
  </div>
</nav>