{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}
<!-- socials login -->
<section>
  <div class="d-flex justify-content-center mt-5">
    <span class='text-center'>Sign in with other services</span>
  </div>
  <div class="d-flex justify-content-center mt-3 mb-3">
    <a class="btn btn-block btn-social-icon btn-lg btn-github mx-2" href="{% provider_login_url 'github' %}">
      <span class="fa fa-github" style="font-size: 1.2em;"></span>
    </a>
    <a class="btn btn-block btn-social-icon btn-lg btn-google mx-2" href="{% provider_login_url 'google' %}">
      <span class="fa fa-google" style="font-size: 1.2em;"></span>
    </a>
    <a class="btn btn-block btn-social-icon btn-lg btn-facebook mx-2" href="">
      <span class="fa fa-facebook" style="font-size: 1.2em;"></span>
    </a>
    <a class="btn btn-block btn-social-icon btn-lg btn-twitter mx-2" href="">
      <span class="fa fa-twitter" style="font-size: 1.2em;"></span>
    </a>
  </div>
</section>


<!-- GitIn login -->
<!--Junha-->
<section class="container">
  <div class="row">
    <form class="col-4 offset-4 d-flex flex-column p-0" method='POST' action="." enctype="multipart/form-data">{% csrf_token %}
      <hr>
      
      {{ form.as_p }}
      
      <button type='submit' class='btn bg-primary text-white'>{% if submit_btn %} {{ submit_btn }} {% else %}Submit {% endif %}</button>
    </form>
    <a href="" class="col-4 offset-4 btn bg-secondary text-white my-2">Register</a>
  </div>
</section>
{% endblock %}