{% extends "base.html" %}
{% load static %}

{% block base_head %}
<link rel="stylesheet" href="{% static 'css/githubrepo_detail.css' %}">
{% endblock %}

{% block content %}
<!-- Repo -->
<!-- <section class="mb-5">
  <h1>Repo Details</h1>
  <h2>pk: {{ object.pk }}</h2>
  <h2>name: {{ object.name }}</h2>
  <h2>owner: {{ object.owner }}</h2>
  <h2>description: {{ object.description }}</h2>
  <h2>html_url: {{ object.html_url }}</h2>
  <p>created_at: {{ object.created_at }}</p>
  <p>updated_at: {{ object.updated_at }}</p>
  <p>pushed_at: {{ object.pushed_at }}</p>
</section> -->

<!-- Commits -->
<!-- <section class="mb-5">
  <h1>Repo Commits</h1>
 {% for commit in commits %}
 <div>
   <div class="text-primary">
     {{ commit.author }} 
    </div>
    <div class="text-muted">
      {{ commit.message}}
    </div>
  </div>
 {% endfor %}
</section> -->

<!-- Contents to the left -->
<aside class="mb-5 file-tree">
  <h1>Repo Contents</h1>
  <div>
    <span class="caret caret-down root-span text-primary"></span>
    <ul class="nested active root-dir">
    </ul>
  </div>
</aside>

<!-- COMMENTS to the right -->
<aside id="comments_section">
  <h1>Repo Comments</h1>
  <!-- pluralize not working for 0 comments for some reason -->
  <strong class="text-secondary">{{ object.get_number_of_comments }} Comment{{ object.get_number_of_comments|pluralize }}</strong>
  <hr>
  {% if user.is_authenticated %}
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      {{ comment_form }}
      <button class="btn btn-primary" type="submit">Add comment</button>
    </div>
  </form>
  {% else %}
  <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to add a comment!</a><br>
  {% endif %}
  {% if comments %}
  <ul>
    {% for comment in comments %}
    <li>           
     <div>
        <span>
          <strong class="text-primary">{{ comment.author }} </strong>
          <small class="text-muted">{{ comment.updated }}</small>
        </span>
        <p>
          {{ comment.content }}
        </p>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
    <strong class="text-secondary">No comments yet...</strong>
  {% endif %}

</aside>


<script>
///////////////////////////////////////////////////////// 
// get file tree contents
const contentFiles = {{ contents|safe }};

// select roots and name span
const rootSpan = document.querySelector(".root-span");
const rootDir = document.querySelector(".root-dir");

rootSpan.innerHTML = "{{ object.name|safe }}";


// make new dom elements with file contents data
contentFiles.forEach(contentfile => {
  const contentType = contentfile.fields.content_type;
  const contentName = contentfile.fields.name;
  const contentPath = contentfile.fields.path.replaceAll("/", "-");
  
  const contentParentId = contentPath.slice(0, contentPath.length - contentName.length);
  let parentDir = rootDir;
  
  // if not in root dir
  if (contentParentId) {
    parentDir = document.querySelector(`#${contentParentId.slice(0, contentParentId.length-1)}`);
  }
  
  // if type is directory 
  if (contentType == "dir") {
    const newDirLi = document.createElement("li");
    const newDirSpan = document.createElement("span");
    const newDirUl = document.createElement("ul");
    
    newDirSpan.classList.add("caret");
    newDirSpan.innerHTML = contentName;
    newDirUl.classList.add("nested");
    newDirUl.id = contentPath;

    newDirLi.appendChild(newDirSpan);
    newDirLi.appendChild(newDirUl);
    parentDir.appendChild(newDirLi);
    
    // if type is file
  } else {
    const newFile = document.createElement("li");
    const icon = document.createElement("i");

    newFile.id = contentPath;
    newFile.innerHTML = contentName;
    icon.classList.add("me-2");

    // choose icon shape depending on file extension
    console.log(contentName);
    if (contentName.search(".py") != -1) {
      icon.classList.add("fab", "fa-python");
    } else if (contentName.search(".md") != -1) {
      icon.classList.add("fas", "fa-info", "ms-1");
    } else if (contentName.search(".gitignore") != -1) {
      icon.classList.add("fab", "fa-git-alt");
    } else if (contentName.search(".txt") != -1) {
      icon.classList.add("fas", "fa-align-left");
    } else if (contentName.search(".html") != -1) {
      icon.classList.add("fab", "fa-html5");
    } else if (contentName.search(".js") != -1) {
      icon.classList.add("fab", "fa-js-square");
    } else if (contentName.search(".css") != -1) {
      icon.classList.add("fab", "fa-css3-alt");
    } else {
      icon.classList.add("fas", "fa-file-code");
    }

    

    newFile.prepend(icon);
    parentDir.appendChild(newFile);
  }
});

// toggle effect
const togglers = [...document.getElementsByClassName("caret")];

togglers.forEach(toggler => {
  toggler.addEventListener("click", (e) => {
    e.target.parentElement.querySelector(".nested").classList.toggle("active");
    e.target.classList.toggle("caret-down");
  })
});

</script>

{% endblock %}