{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Repo -->
<section class="mb-5">
  <h1>Repo Details</h1>
  <h2>pk: {{ object.pk }}</h2>
  <h2>name: {{ object.name }}</h2>
  <h2>owner: {{ object.owner }}</h2>
  <h2>description: {{ object.description }}</h2>
  <h2>html_url: {{ object.html_url }}</h2>
  <p>created_at: {{ object.created_at }}</p>
  <p>updated_at: {{ object.updated_at }}</p>
  <p>pushed_at: {{ object.pushed_at }}</p>
</section>

<!-- Commits -->
<section class="mb-5">
  <h1>Repo Commits</h1>
 {% for commit in commits %}
 <div>
   <div class="text-primary">
     {{ commit.author }} 
    </div>
    <div class="text-muted">
      {{ commit.message}}
    </div>
  </div>
 {% endfor %}
</section>

<!-- Contents -->
<section class="mb-5">
  <h1>Repo Contents</h1>
  {% for content in contents %}
  <div class="{% if content.content_type == 'dir' %} text-primary {% else %} text-secondary {% endif %}">
    {{ content.path}}
    <a href="{{ content.url }}">link</a>
  </div>
  {% endfor %}
</section>

<!-- COMMENTS  -->
<section id="comments_section">
  <h1>Repo Comments</h1>
  <!-- pluralize not working for 0 comments for some reason -->
  <strong class="text-secondary">{{ object.get_number_of_comments }} Comment{{ object.get_number_of_comments|pluralize }}</strong>
  <hr>
  {% if user.is_authenticated %}
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      {{ comment_form }}
      <button class="btn btn-primary" type="submit">Add comment</button>
    </div>
  </form>
  {% else %}
  <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to add a comment!</a><br>
  {% endif %}
  {% if comments %}
  <ul>
    {% for comment in comments %}
    <li>           
     <div>
        <span>
          <strong class="text-primary">{{ comment.author }} </strong>
          <small class="text-muted">{{ comment.updated }}</small>
        </span>
        <p>
          {{ comment.content }}
        </p>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
    <strong class="text-secondary">No comments yet...</strong>
  {% endif %}

</section>
{% endblock %}