{% extends "base.html" %}
{% load static %}

{% block base_head %}
<link rel="stylesheet" href="{% static 'css/githubrepo_detail.css' %}">
{% endblock %}

{% block content %}
<!-- summary of repo (top) -->
<!-- <header class="d-flex justify-content-between">
  <p>name: {{ object.name }}</p>
  <p>owner: {{ object.owner }}</p>
  <p>description: {{ object.description }}</p>
  <p>pushed_at: {{ object.pushed_at }}</p>
</header> -->

<!-- main -->
<main class="container-fluid main-container d-flex flex-column">
  <div class="row h-100 main-row">

    <!-- Explorer (left) -->
    <nav class="explorer-nav col-2 sticky-top ps-4">
      <h4 class="mb-4">Explorer</h4>
      <div class="explorer-div">
        <span class="caret caret-down root-span"></span>
        <ul class="nested active root-dir">
        </ul>
      </div>
    </nav>
    
    <!-- File Content (center)-->
    <section class="col-7 file-contents-section">
      <h4 class="text-left file-name mb-4">Loading REAMDE file</h4>
      <pre><code class="file-contents-code"></code></pre>
    </section>
    
    <!-- Comments (right) -->
    <section class="comments-section col-3 pe-5">
      <!-- pluralize not working for 0 comments for some reason -->
      <strong class="text-light">{{ object.num_comments }} Comment{{ object.num_comments|pluralize }}</strong>
      {% if comments %}
      <ul class="comments-ul">
        {% for comment in comments %}
        <li>           
          <div>
            <span class="d-flex justify-content-between">
              <strong class="text-muted">{{ comment.author }} </strong>
              <small class="text-muted">to be added</small>
              <!-- <small class="text-muted">{{ comment.updated }}</small> -->
            </span>
            <div class="comment-div px-2">
              {{ comment.content }}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <strong class="text-secondary">No comments yet...</strong>
      {% endif %}
      {% if user.is_authenticated %}
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          {{ comment_form }}
        </div>
      </form>
      {% else %}
      <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to add a comment!</a><br>
      {% endif %}
    </section>
  </div>

  <!-- Commits (right)-->
  <section class="commits-section d-none">
    <h1 class="mb-2">Repo Commits</h1>
    {% for commit in commits %}
    <div>
      <div class="text-primary">
        {{ commit.author }} 
      </div>
      <div class="text-muted">
        {{ commit.message}}
      </div>
    </div>
    {% endfor %}
  </section>

</main>

<!-- My scripts -->
<script>
// get data from backend
const contentFiles = {{ contents|safe }};
const repoPath = "{{ repo_path|safe }}";

// select elements
const rootSpan = document.querySelector(".root-span");
const rootDir = document.querySelector(".root-dir");
const fileContentsCode = document.querySelector(".file-contents-code");
const fileNameDiv = document.querySelector(".file-name");
rootSpan.innerHTML = "{{ object.name|safe }}";


// make new dom elements with file contents data
contentFiles.forEach(contentfile => {
  const contentType = contentfile.fields.content_type;
  const contentName = contentfile.fields.name;
  const contentSha = contentfile.fields.sha;
  const contentPath = contentfile.fields.path.replaceAll("/", "-");
  let ishtmlFile = false;
  
  const contentParentId = contentPath.slice(0, contentPath.length - contentName.length);
  let parentDir = rootDir;
  
  // if not in root dir
  if (contentParentId) {
    parentDir = document.querySelector(`#${contentParentId.slice(0, contentParentId.length-1)}`);
  }
  
  // if type is directory 
  if (contentType == "dir") {
    const newDirLi = document.createElement("li");
    const newDirSpan = document.createElement("span");
    const newDirUl = document.createElement("ul");
    
    newDirSpan.classList.add("caret");
    newDirSpan.innerHTML = contentName;
    newDirUl.classList.add("nested");
    newDirUl.id = contentPath;

    newDirLi.appendChild(newDirSpan);
    newDirLi.appendChild(newDirUl);
    parentDir.appendChild(newDirLi);
    
    // if type is file
  } else {
    const newFile = document.createElement("li");
    const icon = document.createElement("i");

    newFile.classList.add("file");
    newFile.id = contentPath;
    newFile.innerHTML = contentName;
    icon.classList.add("me-2");

    // choose icon shape depending on file extension
    if (contentName.search(".py") != -1) {
      icon.classList.add("fab", "fa-python");
      fileContentsCode.classList.add("python");
    } else if (contentName.search(".md") != -1) {
      icon.classList.add("fas", "fa-info", "ms-1");
    } else if (contentName.search(".gitignore") != -1) {
      icon.classList.add("fab", "fa-git-alt");
    } else if (contentName.search(".txt") != -1) {
      icon.classList.add("fas", "fa-align-left");
    } else if (contentName.search(".html") != -1) {
      icon.classList.add("fab", "fa-html5");
      ishtmlFile = true;
    } else if (contentName.search(".js") != -1) {
      icon.classList.add("fab", "fa-js-square");
      fileContentsCode.classList.add("js");
    } else if (contentName.search(".css") != -1) {
      icon.classList.add("fab", "fa-css3-alt");
    } else {
      icon.classList.add("fas", "fa-file-code");
    }

    // add click event listener for ajax request
    newFile.addEventListener("click", e => {
      fileNameDiv.innerHTML = contentName;
      sendPostRequest(contentSha, ishtmlFile);
      addViewingClass(e.target);
    });

    // append new file to parent element
    newFile.prepend(icon);
    parentDir.appendChild(newFile);

    // if file name is README.md show on screen
    if (contentName === "README.md") {
      console.log("README.md file exists");
      fileNameDiv.innerHTML = contentName;
      sendPostRequest(contentSha);
      newFile.classList.add("viewing");
    }
  }

});

// if no README.md file in project
if (fileNameDiv.innerHTML != "README.md") {
  fileNameDiv.innerHTML = "No README.md file in this project"
}

// toggle effect
const togglers = [...document.getElementsByClassName("caret")];
togglers.forEach(toggler => {
  toggler.addEventListener("click", (e) => {
    e.target.parentElement.querySelector(".nested").classList.toggle("active");
    e.target.classList.toggle("caret-down");
  })
});


// Send Ajax File Request to Backend and display contents
function sendPostRequest(contentSha, ishtmlFile) {
  $.ajax({
    url: 'get-file/',
    type: 'post',
    data: {'sha': contentSha, 'repo_path': repoPath},
    headers: { "X-CSRFToken": "{{ csrf_token }}"},
  }).done(data => {
    console.log('data successfully received: ', data);
    // change < and > if html file
    if (ishtmlFile) {
      fileContents = data.data.replaceAll(/&/g, '&amp;').replaceAll(/</g, '&lt;').replaceAll(/>/g, '&gt;');
    } else {
      fileContents = data.data;
    }
    fileContentsCode.innerHTML = fileContents;
    hightlightCode();
  }).fail((failed) => {
    console.log('ajax request failed');
    console.log(failed);
  })
}

// highlight the file user is viewing
function addViewingClass(targetFile) {
  const fileLists = document.querySelectorAll(".file");
  fileLists.forEach(fileList => {
    fileList.classList.remove("viewing");
  })
  targetFile.classList.add("viewing");
}

// syntax highlighting + line numbering
function hightlightCode() {
  document.querySelectorAll('pre code').forEach((block) => {
    hljs.highlightBlock(block);
    hljs.lineNumbersBlock(block);
  });
}

</script>

{% endblock %}