{% extends "base.html" %}
{% load static %}

{% block base_head %}
<link rel="stylesheet" href="{% static 'css/repo_detail.css' %}">
{% endblock %}

{% block content %}

<!-- content block -->
<div class="main-container d-flex">
  <!-- collapse button -->
  <button class="btn collapse-btn p-0 shadow-none">
    <i class="fas fa-angle-double-left collapse-icon"></i>
  </button>

  <!-- main -->
  <main class="container-fluid main-div d-flex flex-column py-3 px-0">
    <!-- repo path -->
    <header class="d-inline-block repo-path m-0 px-3 d-flex justify-content-between align-items-center">
      <div class="d-flex invisible padding-right">
        <div class="text-secondary me-3">
          last updated at: {{ requested_user.last_repos_update }}
        </div> 
        <button class="btn repo-refresh text-success repo-refresh shadow-none p-0"><i class="fas fa-sync-alt"></i></button>
      </div>
      <h3 class="m-0">{{ object.path }}</h3>
      <div class="d-flex padding-right">
        <div class="text-secondary me-3">
          last updated at: {{ requested_user.last_repos_update }}
        </div> 
        <button class="btn repo-refresh text-success repo-refresh shadow-none p-0"><i class="fas fa-sync-alt"></i></button>
      </div>
    </header>
    
    <div class="row h-100 w-100 main-row">
      <!-- Explorer + Comments (left) -->
      <aside class="col-3 side-tab">
        <!-- Explorer (top) -->
        <nav class="explorer-nav px-3" id="resizable">
          <header class="d-flex justify-content-between align-items-center mb-4">
            <h4 class="d-inline-block m-0">Explorer</h4>
            <span>
              <i class="far fa-minus-square"></i>
            </span>
          </header>
          <div class="explorer-div">
            <span class="caret caret-down root-span"></span>
            <ul class="nested active root-dir">
            </ul>
          </div>
        </nav>
        
        <!-- Comments (bottom) -->
        <section class="comments-section px-3">
          <!-- pluralize not working for 0 comments for some reason -->
          
          <header class="d-flex justify-content-between align-items-center mb-4">
            <h4 class="text-light m-0">{{ object.num_comments }} Comment{{ object.num_comments|pluralize }}</h4>
            <span>
              <i class="far fa-minus-square"></i>
            </span>
          </header>
          
          {% if user.is_authenticated %}
          <form method="POST" autocomplete="off" class="mb-4">
            {% csrf_token %}
            <div class="form-group">
              {{ comment_form }}
            </div>
        </form>
        {% else %}
        <a class="btn btn-outline-secondary d-block" href="{% url 'login' %}?next={{request.path}}">Log in to add a comment!</a><br>
        {% endif %}
        {% if comments %}
        <ul class="comments-ul">
          {% for comment in comments %}
          <li class="mb-2">           
            <div>
              <span class="d-flex justify-content-between">
                <strong class="text-muted">{{ comment.author }} </strong>
                <small class="text-muted"> timestamp</small>
                <!-- <small class="text-muted">{{ comment.updated }}</small> -->
              </span>
              <div class="comment-div px-2">
                {{ comment.content }}
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <strong class="text-secondary">No comments yet...</strong>
        {% endif %}
      </section>
    </aside>
    
    <!-- File Content (center)-->
    <section class="col-9 file-contents-section">
      <h4 class="text-left file-name mb-4">Loading REAMDE file</h4>
      <pre><code class="file-contents-code"></code></pre>
    </section>
  </div>
</main>
  
  <!-- Commits (right)-->
  <!-- <section class="commits-section d-none">
    <h1 class="mb-2">Repo Commits</h1>
    {% for commit in commits %}
    <div>
      <div class="text-primary">
        {{ commit.author }} 
      </div>
      <div class="text-muted">
        {{ commit.message}}
      </div>
    </div>
    {% endfor %}
  </section> -->

</div>

<!-- highlight.js (syntax highlighting + line numbering) -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>

<!-- My scripts -->
<script>

// get data from backend
const contentFiles = {{ contents|safe }};
const repoPath = "{{ repo_path|safe }}";

// select elements
const rootSpan = document.querySelector(".root-span");
const rootDir = document.querySelector(".root-dir");
const fileContentsSection = document.querySelector(".file-contents-section");
const fileContentsCode = document.querySelector(".file-contents-code");
const fileNameDiv = document.querySelector(".file-name");
const explorerNav = document.querySelector(".explorer-nav");
const collapseBtn = document.querySelector(".collapse-btn");
const collapseIcon = document.querySelector(".collapse-icon");
const sideTab = document.querySelector(".side-tab");

// init
rootSpan.innerHTML = "{{ object.name|safe }}";

// make new dom elements with file contents data
contentFiles.forEach(contentfile => {
  const contentType = contentfile.fields.content_type;
  const contentName = contentfile.fields.name;
  const contentSha = contentfile.fields.sha;
  const contentPath = contentfile.fields.path.replaceAll("/", "-");
  let ishtmlFile = false;
  
  const contentParentId = contentPath.slice(0, contentPath.length - contentName.length).replaceAll(".", "dot").replaceAll("_", "underscore");
  let parentDir = rootDir;
  
  // if not in root dir
  if (contentParentId) {
    parentDir = document.querySelector(`#${contentParentId.slice(0, contentParentId.length-1)}`);
  }
  
  // if type is directory 
  if (contentType == "dir") {
    const newDirLi = document.createElement("li");
    const newDirSpan = document.createElement("span");
    const newDirUl = document.createElement("ul");
    
    newDirSpan.classList.add("caret");
    newDirSpan.innerHTML = contentName;
    newDirUl.classList.add("nested");
    newDirUl.id = contentPath.replaceAll(".", "dot").replaceAll("_", "underscore");

    newDirLi.appendChild(newDirSpan);
    newDirLi.appendChild(newDirUl);
    parentDir.appendChild(newDirLi);
    
    // if type is file
  } else {
    const newFile = document.createElement("li");
    const icon = document.createElement("i");

    newFile.classList.add("file");
    newFile.id = contentPath;
    newFile.innerHTML = contentName;
    icon.classList.add("me-2");

    // choose icon shape depending on file extension
    if (contentName.search(".py") != -1) {
      icon.classList.add("fab", "fa-python");
      fileContentsCode.classList.add("python");
    } else if (contentName.search(".md") != -1) {
      icon.classList.add("fas", "fa-info", "ms-1");
    } else if (contentName.search(".gitignore") != -1) {
      icon.classList.add("fab", "fa-git-alt");
    } else if (contentName.search(".txt") != -1) {
      icon.classList.add("fas", "fa-align-left");
    } else if (contentName.search(".html") != -1) {
      icon.classList.add("fab", "fa-html5");
      ishtmlFile = true;
    } else if (contentName.search(".js") != -1) {
      icon.classList.add("fab", "fa-js-square");
      fileContentsCode.classList.add("js");
    } else if (contentName.search(".css") != -1) {
      icon.classList.add("fab", "fa-css3-alt");
    } else {
      icon.classList.add("fas", "fa-file-code");
    }

    // add click event listener for ajax request
    newFile.addEventListener("click", e => {
      fileNameDiv.innerHTML = contentName;
      sendPostRequest(contentSha, ishtmlFile);
      addViewingClass(e.target);
    });

    // append new file to parent element
    newFile.prepend(icon);
    parentDir.appendChild(newFile);

    // if file name is README.md show on screen
    if (contentName === "README.md") {
      console.log("README.md file exists");
      fileNameDiv.innerHTML = contentName;
      sendPostRequest(contentSha);
      newFile.classList.add("viewing");
    }
  }

});

// if no README.md file in project
if (fileNameDiv.innerHTML != "README.md") {
  fileNameDiv.innerHTML = "No README.md file in this project"
}

// toggle effect
const togglers = [...document.getElementsByClassName("caret")];
togglers.forEach(toggler => {
  toggler.addEventListener("click", (e) => {
    e.target.parentElement.querySelector(".nested").classList.toggle("active");
    e.target.classList.toggle("caret-down");
  })
});


// Send Ajax File Request to Backend and display contents
function sendPostRequest(contentSha, ishtmlFile) {
  $.ajax({
    url: 'get-file/',
    type: 'post',
    data: {'sha': contentSha, 'repo_path': repoPath},
    headers: { "X-CSRFToken": "{{ csrf_token }}"},
  }).done(data => {
    console.log('data successfully received: ', data);
    // change < and > if html file
    if (ishtmlFile) {
      fileContents = data.data.replaceAll(/&/g, '&amp;').replaceAll(/</g, '&lt;').replaceAll(/>/g, '&gt;');
    } else {
      fileContents = data.data;
    }
    fileContentsCode.innerHTML = fileContents;
    hightlightCode();
  }).fail((failed) => {
    console.log('ajax request failed');
    console.log(failed);
  })
}

// highlight the file user is viewing
function addViewingClass(targetFile) {
  const fileLists = document.querySelectorAll(".file");
  fileLists.forEach(fileList => {
    fileList.classList.remove("viewing");
  })
  targetFile.classList.add("viewing");
}

// syntax highlighting + line numbering
function hightlightCode() {
  document.querySelectorAll('pre code').forEach((block) => {
    hljs.highlightBlock(block);
    hljs.lineNumbersBlock(block);
  });
}

// collapse btn logic
collapseBtn.addEventListener("click", () => {
  sideTab.classList.toggle("d-none");
  collapseIcon.classList.toggle("spin180Deg");
  fileContentsSection.classList.toggle("col-9");
  fileContentsSection.classList.toggle("col-12");
  
})

</script>

{% endblock %}