{% extends "base.html" %}
{% load static %}

{% block base_head %}
<link rel="stylesheet" href="{% static 'css/user_detail.css' %}">
{% endblock %}

{% block content %}
<!-- header -->
<header class="text-center">
  <h1>
    {{ requested_user }}'s repos 
  </h1>
</header>

<!-- cards with repo summary -->
<section class="container">
  <!-- last repo update time -->
  <div class="d-flex justify-content-end align-items-center">
    <div class="text-secondary me-3">
      last updated at: {{ requested_user.last_repos_update }}
    </div> 
    <button class="btn repo-refresh text-success repo-refresh shadow-none p-0"><i class="fas fa-sync-alt"></i></button>
  </div>

  <!-- repo infos -->
  <div class="row">
    {% for requested_repo in requested_repos %}
    <a class="text-decoration-none col-12 col-lg-6" href="{% url 'repo-detail' requested_repo.pk %}">
      <div class="card my-2 repo-card">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-4">
            <h3 class="text-primary card-text">{{ requested_repo.name }}</h3>
            <p class="text-muted text-end card-text">{{ requested_repo.number_of_commits }} commits</p>
          </div>
          {% if requested_repo.description %}
          <p class="card-text text-dark">{{ requested_repo.description }}</p>
          {% else %}
          <p class="card-text text-dark">No description</p>
          {% endif %}
          <p class="card-text"><small class="text-muted">last pushed: {{ requested_repo.pushed_at }}</small></p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</section>

<script>
// grab elements
const repoRefresh = document.querySelector(".repo-refresh");

// repoRefresh click event
repoRefresh.addEventListener("click", () => {
  // add animation
  repoRefresh.classList.add("fa-spin")

  // send request
  sendGETRequest();
})

// send GET to update repos
function sendGETRequest() {
  $.ajax({
    url: "{% url 'user-detail' pk=requested_user.pk %}",
    type: 'post',
    data: {'username': "{{ requested_user|safe }}"},
    headers: {"X-CSRFToken": "{{ csrf_token }}"},
  }).done(res => {
    location.reload()
  }).fail(failed => {
    console.log(failed);
  })

}

</script>
{% endblock %}