{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="text-center">Seach Results for {{ github_user }}</h1>
<h1>test github_repo: {{ github_repo }}</h1>
<h1>{{ data }}</h1>

<!-- cards with repo summary -->
<section class="container">
  <div class="row">
    {% for github_repo in github_repos %}
    <a class="text-decoration-none col-12 col-lg-6" href="{{ github_repo.pk }}/repo-detail/">
      <div class="card my-2">
        <div class="card-body">
          <h3 class="text-primary">{{ github_repo.name }}</h3>
          <p class="text-muted text-end">{{ github_repo.number_of_commits }} commits</p>
          {% if github_repo.description %}
          <p class="card-text text-dark">{{ github_repo.description }}</p>
          {% else %}
          <p class="card-text text-dark">No description</p>
          {% endif %}
          <p class="card-text"><small class="text-muted">last pushed: {{ github_repo.pushed_at }}</small></p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</section>

{% endblock %}